@import "tailwindcss";

@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    -webkit-user-select: none;
  }
  
  body {
    overscroll-behavior-y: contain;
    padding-bottom: env(safe-area-inset-bottom);
  }
}

/* Custom scrollbar hiding utility */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

